@import "./modal.css";
div#__next {
  position: relative;
  height: 100%;
}
#main > section {
  transform: translate3d(-100%, 0, 0) !important;
}
#main > section.active {
  transform: translate3d(0%, 0, 0) !important;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

span.sc-bdVaJa.bBePZj {
  display: none;
}

@media (max-width: 767px) {
  .close-project.is-visible {
    display: block;
  }
}
@media only screen and (max-width: 1024px) {
  .back-mobile.close-project {
    line-height: 55px;
  }
}

.empty_notice {
  color: red;
}
.returnmessage {
  color: green;
}
#cvi-iconRedes{
  color: #ffb400;
  border: 1px solid #ffb400;
  border-radius: 50%;
}

#cvi-iconRedes i{
  color: #ffb400;
}

#cvi-cardBanc p{
 color: black;
 padding-top: 0;
 margin: 0 0 2px !important;
}

#cvi-cardBanc p a{
  font-weight: bold;
}

#cvi-cardBanc a{
  font-weight: bold;
  color: black;
}


.cvi-custom-radio input[type="radio"] {
 
  width: 20px;
  height: 20px;
}

.cvi-custom-radio input[type="radio"]:checked {
  background-color: green;
}

.cvi-custom-radio label {
  font-weight: normal;
  margin-left: 4px;
  margin-top: 4px;
  color: white;
}

